<style>
    .hidden{
        display: none;
    }
    .calendar-container{
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0.5rem;
        -ms-flex-line-pack: center;
            align-content: center;
        cursor: pointer;
        border-radius: 0.375rem;
        -webkit-box-shadow: 0 0 0 0.5px rgba(50,50,93,.17), 0 2px 5px 0 rgba(50,50,93,.1), 0 1px 1.5px 0 rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.08), 0 0 0 0 transparent!important;
                box-shadow: 0 0 0 0.5px rgba(50,50,93,.17), 0 2px 5px 0 rgba(50,50,93,.1), 0 1px 1.5px 0 rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.08), 0 0 0 0 transparent!important;
      }
      .calendar-container .icon{
        width: 27px;
        height: 27px;
        margin-right: 0.75rem;
        vertical-align: top;
        margin-left: auto;
      }
      .calendar-container span{
        line-height: 27px;
      }
      .calendar-container.active:before{
        content: " ";
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .addeventatc_dropdown{
          position: absolute;
        display: inline-block;
        min-width: 100%;
        top: -7rem;
        left: 0;
        list-style-type: none;
        background-color: white;
        padding: 0;
        -webkit-filter: drop-shadow(7px 7px 10px grey);
                filter: drop-shadow(7px 7px 10px grey);
        visibility: hidden;
        z-index: 5;
        border-radius: 0.25rem;
      }
      .addeventatc_dropdown li{
        position: relative;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: block;
        white-space: nowrap;
      }
      .addeventatc_dropdown li:hover{
        background-color: lightgray;
      }
      
      .addeventatc_dropdown li a{
        color: black;
        text-decoration: none;
        display: block;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
      
      }
      
      .addeventatc_dropdown li a:visited{
        text-decoration: none;
        color: black;
      }
</style>

<script>
document.addEventListener('DOMContentLoaded', function(event) {
  let calendars = document.getElementsByClassName("calendar-container");

  for (let i = 0; i < calendars.length; i++){
    calendars[i].addEventListener("click", toggleCalendar);
  }
  
  function toggleCalendar(){
    let serviceList = this.getElementsByClassName("addeventatc_dropdown")[0];
    let computedStyle = window.getComputedStyle(serviceList)
    let visibility = computedStyle.getPropertyValue('visibility');
  
    if (visibility == "hidden"){
      collapseAllCalendars();
      serviceList.style.visibility = "visible";
      this.classList.add("active");
    }
    else{
      serviceList.style.visibility = "hidden";
      this.classList.remove("active");
    }
  }
  
  function collapseAllCalendars(){
    for (let i = 0; i < calendars.length; i++){
      calendars[i].classList.remove("active");
      calendars[i].getElementsByClassName("addeventatc_dropdown")[0].style.visibility = "hidden";
    }
  }
});
</script>