{{/*
  GetURLYahoo

  Description
  Returns a Yahoo calendar event URL

  @author mountainbug95

  @context Page (.)

  @access private

  @return String

  @example - Go Template
    {{ with partial "tnd-addtocal/private/calendar-btn/GetURLYahoo" . }}
      <li class="ateyahoo" id="addeventatc1-yahoo" role="menuitem"><a href="{{ htmlUnescape . }}"><strong>Yahoo</strong><em>(online)</em></a></li>
    {{ end }}
*/}}
{{ $fullLink := false }}
{{ $config := partialCached "tnd-addtocal/private/GetConfig" . }}
{{ if $config.calendar_entries.yahoo }}
  {{ with .Date }}
    {{ $date := dateFormat "20060102T150405" . }}
    
    {{ $eventTitle := $.Params.title }}
  
    {{ $eventContent := "" }}
  
    {{ $variant := printf "%x" (dict "variant" $.Params "showContent" true) }}
    {{ with partialCached "tnd-addtocal/private/calendar-btn/GetCalendarContent" (dict "context" $ "displayContent" true) $variant }}
      {{ $eventContent = . }}
    {{ end }}
  
    {{ $link := querify "v" "60" "TITLE" $eventTitle "DESC" $eventContent "ST" $date "DUR" "0100" "in_loc" $config.default_location }}
  
    {{ $linkStart := "http://calendar.yahoo.com/?" }}
  
    {{ $fullLink =  print $linkStart $link }}
  {{ else }}
    {{ $warn := printf "There is no 'date' parameter present in this event file (title: %s)." $.Title }}
    {{ partial "tnd-addtocal/warn" $warn }}
  {{ end }}
{{ end }}

{{ return $fullLink }}