{{/*
  GetURLOutlook

  Description
  Returns an Outlook calendar event URL

  @author mountainbug95

  @context Page (.)

  @access private

  @return String

  @example - Go Template
    {{ with partial "tnd-addtocal/private/calendar-btn/GetURLOutlook" . }}
      <li class="ateoutlookcom" id="addeventatc1-outlookcom" role="menuitem"><a href="{{ htmlUnescape . }}"> <strong>Outlook.com</strong><em>(online)</em></a></li>
    {{ end }}
*/}}
{{ $fullLink := false }}
{{ $config := partialCached "tnd-addtocal/private/GetConfig" . }}
{{ with partialCached "tnd-addtocal/private/GetStartEndDates" $ $ }}

  {{ $start := .start.Format "20060102T150405Z" }}
  {{ $end := .end.Format "20060102T150405Z" }}

  {{ $eventTitle := $.Params.title }}

  {{ $eventContent := "" }}

  {{ $variant := printf "%x" (dict "variant" $.Params "showContent" true) }}
  {{ with partialCached "tnd-addtocal/private/calendar-btn/GetCalendarContent" (dict "context" $ "displayContent" true) $variant }}
    {{ $eventContent = . }}
  {{ end }}

  {{ $link := querify "rru" "addevent" "startdt" $start "enddt" $end "subject" $eventTitle "body" $eventContent "location" $config.default_location }}

  {{ $linkStart := "https://outlook.live.com/owa/?path=/calendar/view/Month&" }}

  {{ $fullLink =  print $linkStart $link }}
{{ else }}
  {{ partial "tnd-addtocal/warn" "There is no 'date' parameter present in this event file." }}
{{ end }}

{{ return $fullLink }}