{{/*
  Description

  @author mountainbug95

  @context Page (.)

  @access public

  @return String

  @example - Go Template
    {{ with partial "calendar-btn/GetURLOutlook" . }}
      <li class="ateoutlookcom" id="addeventatc1-outlookcom" role="menuitem"><a href="{{ htmlUnescape . }}"> <strong>Outlook.com</strong><em>(online)</em></a></li>
    {{ end }}
*/}}
{{ $fullLink := false }}
{{ with .Date }}


  {{ $hour := add (div (int (print ((dateFormat "15" .) | strings.TrimLeft "0") "0")) 10) 6 }}
  {{ $startHour := add (div (int (print ((dateFormat "15" .) | strings.TrimLeft "0") "0")) 10) 5 }}
  {{ $minute := div (int (print ((dateFormat "04" .) | strings.TrimLeft "0") "0")) 10 }}
  {{ $second := div (int (print ((dateFormat "05" .) | strings.TrimLeft "0") "0")) 10 }}

  {{ if lt $hour 10 }}
    {{ $hour = print "0" (string $hour) }}
  {{ else }}
    {{ $hour = string $hour }}
  {{ end }}

  {{ if lt $startHour 10 }}
    {{ $startHour = print "0" (string $startHour) }}
  {{ else }}
    {{ $startHour = string $startHour }}
  {{ end }}

  {{ if lt $minute 10 }}
    {{ $minute = print "0" (string $minute) }}
  {{ else }}
    {{ $minute = string $minute }}
  {{ end }}

  {{ if lt $second 10 }}
    {{ $second = print "0" (string $second) }}
  {{ else }}
    {{ $second = string $second }}
  {{ end }}

  {{ $date := print (dateFormat "20060102" .) "T" $startHour $minute $second "Z" }}
  {{ $endDate := print (dateFormat "20060102" .) "T" $hour $minute $second "Z" }}

  {{ $eventTitle := $.Params.title }}

  {{ $eventContent := "" }}

  {{ $variant := printf "%x" (dict "variant" $.Params "showContent" true) }}
  {{ with partialCached "calendar-btn/GetCalendarContent" (dict "context" $ "displayContent" true) $variant }}
    {{ $eventContent = . }}
  {{ end }}

  {{ $link := querify "rru" "addevent" "startdt" $date "enddt" $endDate "subject" $eventTitle "body" $eventContent "location" "279 Harvard St, Brookline, Massachusetts 02446-2908" }}

  {{ $linkStart := "https://outlook.live.com/owa/?path=/calendar/view/Month&" }}

  {{ $fullLink =  print $linkStart $link }}
{{ end }}

{{ return $fullLink }}